<div class="row">
    <div class="col-md-3 leftNav">
        <nav class="menu" tabindex="0">
            <!-- <div class="smartphone-menu-trigger"></div> -->
            <header class="avatar">
                <img class="mainAvatar" src="https://i.ibb.co/6n1dzTP/received-2028020270758459-2.jpg" />
                <h2>Hey!</h2>
                <h2 class="line-1 anim-typewriter">I'm Ahmed Basha</h2>
                <p class="mailString"> Software Programmer</p>
                <p class="mailString clickableIconStyle" onClick="parent.open('mailto:shaikahmedbashas@gmail.com')">
                    shaikahmedbashas@gmail.com</p>

                <img class="socialMedialogos clickableIconStyle" onClick="parent.open('https://github.com/itsahmedbasha')" alt="Github" title="Github" src="assets/icons/Github logo.svg">
                <img class="socialMedialogos clickableIconStyle" onClick="parent.open('https://in.linkedin.com/in/itsahmedbasha')" alt="Linked In" title="Linked In" src="assets/icons/Linked In Logo.svg">
                <img class="socialMedialogos clickableIconStyle" onClick="parent.open('https://www.quora.com/profile/itsahmedbasha')" alt="Quora" title="Quora" src="assets/icons/Quora Logo.svg">

                <img class="socialMedialogos clickableIconStyle" onClick="parent.open('https://www.facebook.com/itsahmedbasha')" alt="Facebook" title="Facebook" src="assets/icons/facebook logo.svg">
                <img class="socialMedialogos clickableIconStyle" onClick="parent.open('https://twitter.com/itsahmebasha')" alt="Twitter" title="Twitter" src="assets/icons/twitter.svg">
                <img class="socialMedialogos clickableIconStyle" onClick="parent.open('https://www.instagram.com/itsahmedbasha')" alt="Instagram" title="Instagram" src="assets/icons/instagram logi.svg">

                <!-- <p class="mailString glyphicon glyphicon-earphone"> 9160099089 | 7989651513</p> -->
            </header>
            <!-- <ul>
            <li tabindex="0" class="icon-dashboard"><span>Dashboard</span></li>
            <li tabindex="0" class="icon-customers"><span>Customers</span></li>
            <li tabindex="0" class="icon-users"><span>Users</span></li>
            <li tabindex="0" class="icon-settings"><span>Settings</span></li>
          </ul> -->
            <ul>
                <li><a href="#EXE_DIV1">About</a></li>
                <li><a href="#EXE_DIV2">Work Experience</a></li>
                <li><a href="#EXE_DIV3">Education</a></li>
                <li><a href="#EXE_DIV4">Projects</a></li>
            </ul>
        </nav>
    </div>
    <!-- <div class="col-md-9 rightNav">

        <section id="EXE_MAIN">

            <article class="panel" id="EXE_DIV1">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aboutme">
                            About Me
                        </div>
                    </div>
                </div>
            </article>


            <article class="panel" id="EXE_DIV2">
                <h1> Thanks For Visiting. </h1>
            </article>
            <article class="panel" id="EXE_DIV3">
                <h1> See You Again. </h1>
            </article>
        </section>
    </div> -->
</div>